<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/custom.css" />
    <script
      src="https://res.cdn.office.net/teams-js/2.17.0/js/MicrosoftTeams.min.js"
      integrity="sha384-xp55t/129OsN192JZYLP0rGhzjCF9aYtjY0LVtXvolkDrBe4Jchylp56NrUYJ4S2"
      crossorigin="anonymous"
    ></script>
    <script src="/static/scripts/teamsapp.js"></script>
    <title>Microsoft Teams Tab</title>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div>
      <h1>Hello, World</h1>
      <p>Specify this apps id (if its different from the default)</p>
      <form>
        app id: <input type="text" id="appid" value="ee74ce78-43a4-4096-8f5f-978533ddf46b">
        <br/>
        subentityid : <input type="text" id="specifysubentityid" value="task1234">
        <br/>
        <button onclick="opendeeplink()">Navigate to this app using the subEntityID</button>
      <br/>
      <p id="deeplink">Deeplink: </p>
      <br/>
      <button onclick="updatedeeplink()">Update deeplink with new appid and subentityid</button>
    </form>
      <span>
        <p>Your app is running</p>
        <p id="hubState"></p>
        <br/>
        <p>V2 Context PageID</p>
        <p id="v2pageid"></p>
        <br/>
        <p>V2 Context SubPageID</p>
        <p id="v2subpageid"></p>
        <br/>
        <br/>
        <p>V1 Context PageID (deprecated only here for backcompat)</p>
        <p id="v1entityid"></p>
        <br/>
        <p>V1 Context SubPageID (deprecated only here for backcompat)</p>
        <p id="v1subentityid"></p>
      </span>
    </div>
    </div>
    <script type="text/javascript">
      //microsoftTeams.appInitialization.notifySuccess();
    </script>
  </body>
</html>
