<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/custom.css" />
    <script
      src="https://res.cdn.office.net/teams-js/2.17.0/js/MicrosoftTeams.min.js"
      integrity="sha384-xp55t/129OsN192JZYLP0rGhzjCF9aYtjY0LVtXvolkDrBe4Jchylp56NrUYJ4S2"
      crossorigin="anonymous"
    ></script>
    <script src="/static/scripts/teamsapp.js"></script>
    <script>
      function deeplink() {
        var encodedWebUrl = encodeURIComponent('https://tasklist.example.com/123/456&label=Task 456');
        var encodedContext = encodeURIComponent(JSON.stringify({"subEntityId": "task456"}));
        // deployed appid
        var appid = "ee74ce78-43a4-4096-8f5f-978533ddf46b"
        var taskItemUrl = 'https://teams.microsoft.com/l/entity/' + appid + '/index0?webUrl=' + encodedWebUrl + '&context=' + encodedContext;
        microsoftTeams.executeDeepLink(taskItemUrl);
      }            
    </script>
    
    <title>Microsoft Teams Tab</title>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div>
      <h1>Hello, World</h1>
      <button onclick="deeplink()">Navigate using subEntityId</button>
      <br/>
      <p id="deeplink">Deeplink: </p>
      <br/>
      <span>
        <p>Your app is running</p>
        <p id="hubState"></p>
        <br/>
        <p>V2 Context PageID</p>
        <p id="v2pageid"></p>
        <br/>
        <p>V2 Context SubPageID</p>
        <p id="v2subpageid"></p>
        <br/>
        <br/>
        <p>V1 Context PageID (deprecated only here for backcompat)</p>
        <p id="v1entityid"></p>
        <br/>
        <p>V1 Context SubPageID (deprecated only here for backcompat)</p>
        <p id="v1subentityid"></p>
      </span>
    </div>
    </div>
    <script type="text/javascript">
      //microsoftTeams.appInitialization.notifySuccess();
    </script>
  </body>
</html>
